@use 'config' as *;

/**Develop Styles*/

body {
  background-color: $body-color;
}

header {
  height: 120vh;
  background-image: $multi-gradient;
  position: relative;
  z-index: 1;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    mix-blend-mode: overlay;
  }

  .header__ct {
    position: relative;
    z-index: 3;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: flex-start;
      margin-bottom: 150px;

      .brand__logo {
        a {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          color: $brand-color;
          i {
            font-size: 2rem;
          }
          h1 {
            font-size: $fs-big;

            font-weight: $fw-bold;
          }
        }
      }
      .burguer__menu {
        cursor: pointer;
        font-size: 1.5rem;
        color: $brand-color;
      }
    }
    .header__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 2.5rem;
        font-weight: $fw-bolder;
        line-height: 1.3;
        margin-bottom: 20px;
        div {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: $action-color;
        }
      }
      p {
        font-weight: $fw-medium;
        opacity: 0.6;
        margin-bottom: 50px;
      }
      button {
        border: 1px solid $action-color;
        text-transform: uppercase;
        font-weight: $fw-bold;
        border-radius: 0;
        background: transparent;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .card__header {
    background: linear-gradient(
      90deg,
      #dce6ff,
      #d7e3ff,
      #d2e0fe,
      #ceddfe,
      #c9dafe,
      #c4d7fe,
      #bed4fd,
      #b9d1fd
    );
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 15px;
    border-image-source: linear-gradient(
      105deg,
      rgba(242, 237, 252, 1) 12%,
      rgba(191, 218, 240, 1) 23%,
      rgba(246, 237, 223, 1) 33%,
      rgba(254, 192, 250, 1) 38%,
      rgba(201, 210, 255, 1) 47%,
      rgba(247, 255, 239, 1) 88%
    );

    .img__header__wp {
      width: 220px;
      margin-bottom: 10px;
    }

    .card__info {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 30px;
      .bids {
        display: flex;
        align-items: center;
        gap: 10px;
        i {
          font-size: 1.3rem;
        }
        .bids__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          span:nth-child(1) {
            font-size: 0.8rem;
            opacity: 0.6;
          }
          span:nth-child(2) {
            font-size: 0.9rem;
            font-weight: $fw-bolder;
          }
        }
      }
      .time {
        i {
          font-size: 0.6rem;
        }

        span {
          font-size: 0.7rem;
          font-weight: $fw-bolder;
        }
      }
    }

    .btn__card {
      width: 28ch;
      text-transform: uppercase;
      border: none;
      background-color: $action-color;
      border-radius: 0;
      color: $title-color;
      margin-bottom: 30px;
    }
  }
}

.intro {
  padding-top: 27rem;
  padding-bottom: 7rem;

  .intro__ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $title-color;
    .img__intro__wp {
      width: 330px;
      margin-bottom: 30px;
      img {
        border-radius: 2px;
      }
    }

    .intro__content {
      text-align: center;
      h1 {
        font-size: $fs-big;
        margin-bottom: 20px;
      }
      p {
        opacity: 0.6;
        font-size: $fs-normal;
        margin-bottom: 30px;
      }
      a {
        width: 28ch;
        text-transform: uppercase;
        border: none;
        background-color: $action-color;
        border-radius: 0;
        color: $title-color;
        margin-bottom: 30px;
      }
    }
  }
}

.collection {
  background-color: #0d183b;
  .collection__ct {
    color: $title-color;
    text-align: center;

    .collection__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      h1 {
        font-size: $fs-big;
        margin-bottom: 20px;
      }
      span {
        font-size: 1rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.85rem;
        opacity: 0.6;
      }
    }

    .collection__images {
      margin-bottom: 80px;
      .collection__ex {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img__wp {
          box-shadow: inset 9px 9px 4px #f2e6e6, inset -9px -9px 4px #fdb8b8;
          width: 250px;
          border-radius: 5px;
          background-image: linear-gradient(
            291deg,
            rgba(242, 237, 252, 1) 3%,
            rgba(242, 237, 252, 1) 13%,
            rgba(191, 218, 240, 1) 24%,
            rgba(254, 192, 250, 1) 52%,
            rgba(201, 210, 255, 1) 61%,
            rgba(247, 255, 239, 1) 95%
          );
          margin-bottom: 20px;
        }
      }
    }

    a {
      width: 28ch;
      text-transform: uppercase;
      border: none;
      background-color: $action-color;
      border-radius: 0;
      color: $title-color;
      margin-bottom: 30px;
    }
  }
}

.roadmap {
  background-color: #0d183b;
  .roadmap__ct {
    .roadmap__wrapper {
      margin-bottom: 80px;
      background-image: linear-gradient(
        291deg,
        rgba(242, 237, 252, 1) 3%,
        rgba(242, 237, 252, 1) 13%,
        rgba(191, 218, 240, 1) 24%,
        rgba(254, 192, 250, 1) 52%,
        rgba(201, 210, 255, 1) 61%,
        rgba(247, 255, 239, 1) 95%
      );
      color: $brand-color;
      padding: 50px 25px 30px;
      .roadmap__title {
        text-align: center;
        margin-bottom: 40px;
        h1 {
          font-size: 1.5rem;
          font-weight: $fw-bolder;
          margin-bottom: 10px;
        }
        span {
          font-size: 1rem;
          font-weight: $fw-bold;
          opacity: 0.8;
        }
      }
      .roadmap__map {
        display: flex;
        margin-bottom: 50px;
        .lines__wp {
          height: 640px;
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .line1 {
            width: 2px;
            height: 320px;
            background-color: $action-color;
          }
          .cube {
            width: 7px;
            height: 7px;
            background-color: $action-color;
          }
          .line2 {
            width: 2px;
            height: 320px;
            background-color: $body-color;
          }
          .arrow {
            color: $brand-color;
            font-size: 0.7rem;
            transform: translate(0, -4px);
          }
        }

        .map__content__wp {
          display: flex;
          flex-direction: column;
          gap: 50px;
          h2 {
            font-size: 1.2rem;
            font-weight: $fw-bold;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          p {
            font-size: 0.85rem;
            opacity: 0.8;
          }
        }
      }

      .roadmap__launch {
        margin-bottom: 40px;
        .launch__lead {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 5px;
          h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: $fw-bolder;
          }
          i {
            color: transparent;
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            background: -webkit-radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            background-clip: text;
            -webkit-background-clip: text;
            font-size: $fs-big;
          }
        }
        span {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }
}

.team {
  .team__ct {
    .roadmap__team {
      text-align: center;
      color: $title-color;
      h1 {
        font-size: 1.5rem;
        font-weight: $fw-bolder;
        margin-bottom: 10px;
      }
      span {
        font-size: 1rem;
        font-weight: $fw-bold;
        opacity: 0.8;
        display: inline-block;
        margin-bottom: 40px;
      }

      .team__wrapper {
        .member {
          .img__wp {
            margin: 0 auto;
            width: 250px;
            margin-bottom: 30px;
            img {
              border-radius: 5px;
            }
          }
          h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
          span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.faqs {
  background-color: #0d183b;
  .faqs__ct {
    color: $title-color;
    text-align: center;
    margin-bottom: 40px;
    .faqs__title {
      margin-bottom: 40px;
      h1 {
        font-size: 1.5rem;
        font-weight: $fw-bolder;
        margin-bottom: 10px;
      }
      span {
        font-size: 1rem;
        font-weight: $fw-bold;
        opacity: 0.8;
      }
    }

    .faqs__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: left;
      a {
        border: 1px solid $title-color;
        padding: 15px 12px;
        opacity: 0.8;
        color: $title-color;
      }
    }
  }
}

footer {
  background-image: linear-gradient(
    291deg,
    rgba(242, 237, 252, 1) 3%,
    rgba(242, 237, 252, 1) 13%,
    rgba(191, 218, 240, 1) 24%,
    rgba(254, 192, 250, 1) 52%,
    rgba(201, 210, 255, 1) 61%,
    rgba(247, 255, 239, 1) 95%
  );
  .footer__ct {
    .footer__content {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 10px;
      a {
        color: $brand-color;
        font-weight: $fw-bold;
        opacity: 0.7;
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $brand-color;
      opacity: 0.4;
    }

    .copys {
      display: flex;
      justify-content: center;

      span {
        font-weight: $fw-bold;
        span {
          color: #d6249f;
        }
      }
    }
  }
}
