/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/*=============== RESET STYLES ===============*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

body {
  line-height: 1.6;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Z index ==========*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
/* For large devices */
/*=============== GENERAL STYLES===============*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}

h1,
h2 {
  font-size: 1.5rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 25px;
}

.section {
  padding: 2.5rem 0 1rem;
}

.blog-post {
  width: clamp(45ch, 50%, 75ch);
}

/*Create space between elements without the affecting the first*/
.flow > * + * {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 1;
}
.btn:hover, .btn:focus {
  opacity: 0.9;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-youtube,
.fa-youtube-play,
.fa-youtube-square:hover {
  color: #bb0000;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/******ALL FILES TO IMPORT*****/
/**Develop Styles*/
body {
  background-color: #081030;
}

header {
  height: 120vh;
  background-image: linear-gradient(291deg, rgb(242, 237, 252) 3%, rgb(242, 237, 252) 13%, rgb(191, 218, 240) 24%, rgb(246, 237, 223) 32%, rgb(254, 192, 250) 52%, rgb(201, 210, 255) 61%, rgb(247, 255, 239) 95%);
  position: relative;
  z-index: 1;
}
header .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  mix-blend-mode: overlay;
}
header .header__ct {
  position: relative;
  z-index: 3;
}
header .header__ct nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin-bottom: 150px;
}
header .header__ct nav .brand__logo a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #06112f;
}
header .header__ct nav .brand__logo a i {
  font-size: 2rem;
}
header .header__ct nav .brand__logo a h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
header .header__ct nav .burguer__menu {
  cursor: pointer;
  font-size: 1.5rem;
  color: #06112f;
}
header .header__ct .header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header .header__ct .header__content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 20px;
}
header .header__ct .header__content h1 div {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ec538d;
}
header .header__ct .header__content p {
  font-weight: 500;
  opacity: 0.6;
  margin-bottom: 50px;
}
header .header__ct .header__content button {
  border: 1px solid #ec538d;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  background: transparent;
}
header .header__ct .header__content button:hover {
  opacity: 0.7;
}
header .card__header {
  background: linear-gradient(90deg, #dce6ff, #d7e3ff, #d2e0fe, #ceddfe, #c9dafe, #c4d7fe, #bed4fd, #b9d1fd);
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 15px;
  border-image-source: linear-gradient(105deg, rgb(242, 237, 252) 12%, rgb(191, 218, 240) 23%, rgb(246, 237, 223) 33%, rgb(254, 192, 250) 38%, rgb(201, 210, 255) 47%, rgb(247, 255, 239) 88%);
}
header .card__header .img__header__wp {
  width: 220px;
  margin-bottom: 10px;
}
header .card__header .card__info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
header .card__header .card__info .bids {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .card__header .card__info .bids i {
  font-size: 1.3rem;
}
header .card__header .card__info .bids .bids__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .card__header .card__info .bids .bids__info span:nth-child(1) {
  font-size: 0.8rem;
  opacity: 0.6;
}
header .card__header .card__info .bids .bids__info span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 900;
}
header .card__header .card__info .time i {
  font-size: 0.6rem;
}
header .card__header .card__info .time span {
  font-size: 0.7rem;
  font-weight: 900;
}
header .card__header .btn__card {
  width: 28ch;
  text-transform: uppercase;
  border: none;
  background-color: #ec538d;
  border-radius: 0;
  color: #fcfdff;
  margin-bottom: 30px;
}/*# sourceMappingURL=styles.css.map */